{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "Urls": "http://*:5000",
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "MySQL": "server=127.0.0.1;Port=3307;uid=root;pwd=sunlight2021;database=dvsdb30;convert zero datetime=True"
  },
  "Serilog": {
    "Using": [
      "Serilog.Sinks.Console",
      "Serilog.Sinks.File"
    ],
    "MinimumLevel": "Information",
    "WriteTo": [
      {
        "Name": "Console"
      },
      {
        "Name": "File",
        "Args": {
          "path": "/var/log/sunlight/dvs-village/log.txt",
          "rollingInterval": 3,
          "buffered": true
        }
      }
    ],
    "Enrich": [
      "FromLogContext"
    ]
  },
  "StaticFilePath": "/data",
  "Scheduler": {
    "SyncForecastDaysService": "0 0 0/2 * * ?"
  },
  "Redis": {
    "ConnectionString": "127.0.0.1:6379,password=,defaultDatabase=0,prefix=village_"
  },
  "BasicRPC": {
    "Host": "192.168.0.149",
    "Port": 11002
  },
  "File": {
    "Store": "SunDFS",
    "SunDFS": {
      "UploadUrl": "http://localhost:10081/cdn/api/upload",
      "AccessUrl": "http://localhost:10081/sundfs"
    }
  },
  "SMSTPL": {
    "UserAuthCodeTpl": "",
    "WarningTPL": "\u3010\u519c\u5b89\u544a\u8b66\u901a\u77e5\u3011\u007b\u0030\u007d\uff1a\u007b\u0031\u007d\u0020\u53ef\u767b\u5f55\u519c\u5b89\u6570\u5b57\u4e61\u6751\u0041\u0050\u0050\uff0c\u70b9\u51fb\u544a\u8b66\u4fe1\u606f\u67e5\u770b\u8be6\u60c5\u3002"
  },
  "Module": {
    "Name": "dvs-village"
  },
  "HouseholdCodeService": {
    "Url": "http://localhost:11008"
  },
  "HouseholdCode": {
    "Url": "https://dvs-sit1.sunlight-tech.com/wechat"
  },
  "OpenSO": "1",
  "RabbitMQ": {
    "VirtualHost": "dvs2_noticesvr",
    "Port": 5566,
    "Host": "localhost",
    "UserName": "sun",
    "Password": "sunlight2010"
  },
  "Push": {
    "Url": "https://push.sunlight-tech.com/pushService/api/pushMessage",
    "AppId": "1002",
    "Secret": "F8D3B784BE4E2A9E5F35C6C3D1A4EF7D"
  }
}